	<tr>
		<td>{{id}}. {{topic_title}}</td>

		<td>{{topic_body}}</td>

		<td>State: {{topic_state}}</td>

		<td>Interest: {{topic_interest}}</td>

		<td>Votes: {{topic_votes}}</td>

		<td>Answer: {{topic_answer}}</td>

		<td>URL: {{topic_answer_url}}</td>
	</tr>
