

    <div class="py-5">
        <h2 class="col-12" style="text-align:center;">Open & PendingTopics</h2>
        <div class="container">
            <div class="row hidden-md-up d-flex justify-content-around">
                {{#each openAndPending}}
                <div class="card questionCards col-md-2" style="min-width: 250px; width:100%; margin-bottom:2%; padding-left: 0px; padding-right: 0px;" >
                    <h5 style="font-size:23px;" class="card-title">{{this.topic_title}}</h5>
                    <h5 style="font-size:17px;">Total Interest: {{this.topic_interest}}</h5>
                    <h5 style="font-size:17px;" >My Interest:
                    <span id="user-interest-{{this.id}}">Not Interested</span>
                    </h5>
                    <button class="Show btn btn-block interest-btn" id="interest-btn-{{this.id}}" interest-state="false" topic-id="{{this.id}}">Follow</button>
                    <button class="Hide btn btn-block interest-btn" id="interest-btn-{{this.id}}" interest-state="false" topic-id="{{this.id}}">Following</button>
                    <div id="target"></div>
                    <button class="btn btn-block" id="details-btn-{{this.id}}">See Details</button>
                    <button class="btn btn-block" id="claim-btn-{{this.id}}">Claim Topic</button>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
   

    <div class="py-5">
        <h2 class="col-12" style="text-align:center;">Closed Topics</h2>
        <div class="container">
            <div class="row hidden-md-up d-flex justify-content-around">  
            {{#each closed}}
                <div class="card col-md-2" style="min-width: 220px; width:100%; padding-left: 0px; padding-right: 0px;"  >
                    <iframe class="card-img-top" src={{this.topic_video}} alt="Video For Topic"></iframe>
                    <div class="card-body">
                        <h5 style="font-size:17px;" class="card-title">{{this.topic_title}}</h5>
                        <h5 style="font-size:15px;">Total Votes: {{this.topic_votes}} |
                        <span id="vote-text-{{this.id}}">I Did Not Vote</span>
                        </h5>
                        <button class="btn btn-block details-btn" topic-id={{this.id}}>See Details</button>
                        <button class="btn btn-block vote-btn" id="vote-btn-{{this.id}}" topic-id={{this.id}} vote-state="false">Change Vote</button>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>
    </div>
  

